<% if current_user.is_admin? %>
  <% if question.body.present? %>
  <tr>   
    <td class="col-3"><%= link_to question.body, quiz_question_path(@quiz, question), class: "btn btn-light" %></td>
    <td class="col-1"><%= link_to "✏", edit_quiz_question_path(@quiz, question),class: "btn btn-outline-light" %>
    <%= link_to '❎', [@question.quiz, question],
              method: :delete,
              data: { confirm: "Are you sure?" }, class: "btn btn-outline-light" %></td>
  </tr>
  <% end %>    
<% end %>     







