<% if current_user.is_admin? %>
  <% if question.body.present? %>
    <p class="fs-5">    
    
      <%= link_to question.body, quiz_question_path(@quiz, question), class: "btn btn-light" %>
    </p>
    <%= link_to "✏", edit_quiz_question_path(@quiz, question),class: "btn btn-outline-light" %>
    <%= link_to '❎', [@question.quiz, question],
              method: :delete,
              data: { confirm: "Are you sure?" }, class: "btn btn-outline-light" %>
    
  <% end %>    
<% end %>     







