<div class="page-header">
  <div class="span10">
    <h1><%= @question.body %></h1>
    <% if @question.options.present? %>
      <%= render partial: "options/list_options", locals: {question_options: @question.options} %>
    <% end %>
  </div>
</div>

