<div class="vertical-menu text-uppercase fw-bold">
  <% @categories.each do |category| %>
  <ol>
    <a class="nav-link mb-2 shadow active"><%=category.title%></a>
    <% category.sub_categories.each do |sub_category| %>
      <%= link_to sub_category.title, quizzes_path(sub_category_name: sub_category.title)%>
    <% end %>
  
  <% if current_user.is_admin? %>
    <%= link_to "✏", edit_category_path(category), class: "text-center" %>
    <%= link_to "❎", category_path(category),class: "text-center",
        method: :delete,
        data: { confirm: "Are you sure?" } %>  
  <% end %>
  </ol>
  <% end %>
</div>
