
<div class = 'index'>
<%= image_tag "quizlogo.jpg", height: 300 , width:500%>
<ul>
  <% @quizzes.each do |quiz| %>

    <p><%= link_to quiz.title, quiz %></p>

  <% end %>
</ul>

<% if current_user.isadmin? %>
<%= link_to "New Quiz", new_quiz_path, :class=>"btn btn-info" %> 
<% end %>
</div>






