
<div style = "margin: 0; padding: 0px 60px;">

<h1>Leaderboard</h1>
<h2>Top 10 scores</h2>
<p>
<table class="table table-striped table-bordered table-condensed">
<thead class="thead-dark">
<tr>
  <th class="text-center">Name</th>
  <th class="text-center">Quiz</th>
  <th class="text-center">Score</th>
  <th class="text-center">Date</th>
</tr>
</thead>
<tbody>
    <% @user_quizzes.each do |user_quiz| %>
      <tr>
        <td><%= user_quiz.name %></td> 
        <td><%= user_quiz.quiz_name %></td> 
        <td><%= user_quiz.score %></td>   
        <td><%= user_quiz.created_at.strftime("%d %b %Y") %></td>      
      </tr>
    <% end %>
  </tbody>
</table>
</p>
</div>
