
<div class="d-flex justify-content-center mt-4">
  <div class="card p-3 mt-3">
    <div class = 'index'>
    <% score = params[:quiz_score].to_i %>
    <% if score > 0 %>
    <img src="https://media.istockphoto.com/id/1183252990/vector/first-prize-gold-trophy-icon-prize-gold-trophy-winner-first-prize-vector-illustration-and.jpg?s=612x612&w=0&k=20&c=cr3yNa3yDHeqaN_-2W8TmGvuZ2hLXufO75KOdjY-1uo="
          class= "img-fluid"> 
    <% elsif score == 0%>
      <h5>Try again to get good score</h5>
    <% end %>
      <h3 class="mt-3 mb-3" >Your score is </h3>
      <%= score %> 
      <p>
      <h3 class="mt-3 mb-3" >Correct </h3>
      <%= score / 10 %> 
      <h3 class="mt-3 mb-3" >Wrong </h3>
      <%= params[:questions_count].to_i - score/10  %> 
      </p>
    </div>
  </div>
</div>
<p class = "text-center"><%= link_to "Start again", quiz_path(params[:id]),:class=>"btn btn-info pull-right"%></p>


