/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*/


 
.index{
    text-align: center;
        display: block;
}
li {
    display: list-item;
    list-style-position: inside;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.navbar-nav .nav-link{
    color: white;
    font-weight: 500;
}
.card{
    border: 5px solid rgb(8, 8, 8);
    width: 500px;
    border-width: medium;
    margin-top: 20px;
  }

.quiz{
    align-items: center;
    color: black;
    border-color: black;
    border-radius: 10px;
    margin: 5px 60px 0px 50px;
    padding: 50px 50px 50px 50px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(247, 244, 244);
    max-width: 1000px;
    font-size: 30px;
}

.question{
    width: 75%;
}
.options{
    position: relative;
    padding-left: 40px;
}

.table {
    margin-top: 30px;
    border-collapse: collapse;
    border-spacing: 0;
    width: 50%;
    border: 1px solid #ddd;
    }

.error{
    color: red;
    font-size: 20px;
    font-weight:bold;
    text-align: left;
    font-style: italic;
}

    header::after {
    content: '';
    display: table;
    clear: both;
    }

.container {
    width:1000px;
    margin:auto;
    }
.form-container { 
    width:500px;
    }

.img{
  width: 50px;
  height: 50px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.tables{
    margin: 0;
    padding: 0px 60px;
}

.panel{
    margin: 0;
    width: 40%;
    padding: 0px 60px;
    top: 20%;
    left: 30%;
    position: absolute;
}

.bg-blue {
  background-color: #EBF5FB;
  border-radius: 8px
}

#spacing-row {
  height: 10px
}

.pagination {
    background: white;
    cursor: default;
    
  }
  .pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; 
  }
  .pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; 
  }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #21a3a3;
    color: white;
    border: 1px solid #0aa1a1;
   }
  .pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5;
   }
  
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; 
  }
  * html .pagination {
    height: 1%; }
  
.timer{
  color: #004085;
  background: #cce5ff;
  border: 1px solid #b8daff;
  height: 45px;
  margin: 0px 50px 10px 50px;
  padding: 0 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  float: right; 
  font-size: 20px;
  user-select: none;
}


.info_box{
    align-items: center;
    padding: 30px 300px 30px 300px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 2000px;
}

.question_table{
    margin-top: 30px;  
    border-radius: 20px;  
    border-spacing: 0;
    width: 110%;
    border: 1px solid rgb(8, 8, 8);
}
